@model FizzBuzzMVC.Models.FizzBuzz

<h1>FBPage - FizzBuzz!</h1>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col-lg-5 border-end border-2">
            <h2>FizzBuzz: A Coding Project</h2>
            <h4 class="lead">
                Live life one loop at a time. A javascript coding excersize using loops. This program will displays the numbers from 0 to 100 and each multiple of the first input integer display "Fizz", multiple of the second input integer display "Buzz", and for multiples of both
                two integers will be <strong>FizzBuzz</strong>.
            </h4>
            <h2 class="mt-5 border-bottom border-2">Instructions</h2>
            <p>Enter two integers. Press the button and FizzBuzz will start.</p>
        </div>
        <div class="col-lg-7">
            <h5>Enter Values</h5>
            @* Form Goes here *@
            <form asp-controller="Home" asp-action="FBPage" method="post">
                <div class="form-group">
                    <label asp-for="FizzValue">Fizz Value</label>
                    <input type="number" asp-for="FizzValue" class="form-control" placeholder="Enter Fizz" value="@Model.FizzValue" />
                </div>
                <div class="form-group">
                    <label asp-for="BuzzValue">Buzz Value</label>
                    <input type="number" asp-for="BuzzValue" class="form-control" placeholder="Enter Buzz" value="@Model.BuzzValue" />
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>

            <h3 class="mt-4 border-bottom border-2">Results</h3>
            <div class="table-responsive">
            @* Table Goes here *@
                <table class="table-striped table-hover table table-dark">
                    <thead>
                        <tr><th colspan="5">FizzBuzz Result</th></tr>
                    </thead>
                    @for (int i = 0; i< Model.Result.Count(); i+=5)
                    {
                        <tr><td>@Model.Result[i]</td><td>@Model.Result[i+1]</td><td>@Model.Result[i+2]</td><td>@Model.Result[i+3]</td><td>@Model.Result[i+4]</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>